<a href="https://colab.research.google.com/github/cassidyhanna/DS-Unit-2-Linear-Models/blob/master/module1-regression-1/U2%2CS1%2C_M1%2C_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 1*

---

# Regression 1

## Assignment

You'll use another **New York City** real estate dataset. 

But now you'll **predict how much it costs to rent an apartment**, instead of how much it costs to buy a condo.

The data comes from renthop.com, an apartment listing website.

- [ ] Look at the data. Choose a feature, and plot its relationship with the target.
- [ ] Use scikit-learn for linear regression with one feature. You can follow the [5-step process from Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/05.02-introducing-scikit-learn.html#Basics-of-the-API).
- [ ] Define a function to make new predictions and explain the model coefficient.
- [ ] Organize and comment your code.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.

## Stretch Goals
- [ ] Do linear regression with two or more features.
- [ ] Read [The Discovery of Statistical Regression](https://priceonomics.com/the-discovery-of-statistical-regression/)
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapter 2.1: What Is Statistical Learning?

In [0]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
# Read New York City apartment rental listing data
import pandas as pd
import numpy as np
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

In [3]:
# Remove outliers: 
# the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= 1375) & (df['price'] <= 15500) & 
        (df['latitude'] >=40.57) & (df['latitude'] < 40.99) &
        (df['longitude'] >= -74.1) & (df['longitude'] <= -73.38)]

#Change dtype to floats
df['bedrooms'] = df['bedrooms'].astype(np.float64)
df['bathrooms'] = df['bathrooms'].astype(np.float64)
df['price'] = df['price'].astype(np.float64)

df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5       3.0  ...                 0                    0
1        1.0       2.0  ...                 0                    0
2        1.0       1.0  ...                 0                    0
3        1.0       1.0  ...                 0                    0
4        1.0       4.0  ...                 0                    0

[5 rows x 34 columns]

In [0]:
#Importing estimator class
from sklearn.linear_model import LinearRegression

In [0]:
#instantiating the class 
LR_model = LinearRegression()

In [0]:
#Arranging feature Matrix and target
X = df[['bedrooms','bathrooms']]
y = df['price']

In [7]:
#Fitting the model
LR_model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
dir(LR_model)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_decision_function',
 '_estimator_type',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_preprocess_data',
 '_residues',
 '_set_intercept',
 'coef_',
 'copy_X',
 'fit',
 'fit_intercept',
 'get_params',
 'intercept_',
 'n_jobs',
 'normalize',
 'predict',
 'rank_',
 'score',
 'set_params',
 'singular_']

In [9]:
LR_model.coef_

array([ 385.08418275, 2099.14867224])

In [10]:
df.dtypes

bathrooms               float64
bedrooms                float64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                   float64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [14]:
#predict function

def predict(bedrooms, bathrooms ):
  y_pred = LR_model.predict([[bedrooms, bathrooms]])
  estimate = y_pred[0]
  bedroom_coef, bathroom_coef = LR_model.coef_
  #bathroom_coef = LR_model.coef_[1]
  results = f'${estimate:,.0f} is the estimated price to rent a {bathrooms:,.0f} bathroom, {bedrooms:,.0f} bedroom apartment in NY.'
  explaination = f'In this Linear Regression each bathroom adds ${bathroom_coef:,.0f} each bedroom adds ${bedroom_coef:,.0f}.'
  return print(results + '\n' + explaination)

predict(1,2)

$5,048 is the estimated price to rent a 2 bathroom, 1 bedroom apartment in NY.
In this Linear Regression each bathroom adds $2,099 each bedroom adds $385.